<!doctype html>
<html>
	<head>
		<title>{% block title %} Sean's Adventure{% endblock %}</title>
		<link rel="stylesheet" href="/static/styles.css">
	</head>
	<body>
		{% block content %}{% endblock %}
		<form action="{{ url_for('save') }}" method="POST">
			<label> Name your bear </label>
			<input type="text" name="num1" values="{{ saves.get('num1','') }}" autofocus>
			<input type="text" name="num2" values="{{ saves.get('num2','') }}" autofocus>
			<input type="submit" value="Let's build it!">
		</form>
		<p>Brought to you by Sean Hegarty</p>
		<!-- 
		<script src="/static/scripts.js"></script>
		-->
		{% block scripts %}{% endblock %}
	</body>
</html>